In [2]:
import pandas as pd
import numpy as np

In [11]:
series1 = pd.Series(data=[26,56,66,68,80,100],index=["1960","1970","1980","1990","2000","2010"])

In [12]:
type(series1)

pandas.core.series.Series

In [13]:
series1

1960     26
1970     56
1980     66
1990     68
2000     80
2010    100
dtype: int64

In [14]:
series2 = pd.Series({"1960":67, "1980":90})

In [15]:
series2

1960    67
1980    90
dtype: int64

In [16]:
series3 = pd.Series([45,67,34,np.nan,90])

In [17]:
series3

0    45.0
1    67.0
2    34.0
3     NaN
4    90.0
dtype: float64

In [18]:
series1.index

Index(['1960', '1970', '1980', '1990', '2000', '2010'], dtype='object')

In [19]:
series1.values

array([ 26,  56,  66,  68,  80, 100], dtype=int64)

In [21]:
series3.shape

(5,)

In [22]:
series3.size

5

In [23]:
series1.describe()

count      6.000000
mean      66.000000
std       24.722459
min       26.000000
25%       58.500000
50%       67.000000
75%       77.000000
max      100.000000
dtype: float64

In [27]:
series1.max()

100

In [29]:
series1.std()

24.72245942457991

In [31]:
series4 = series1+4

In [32]:
series4

1960     30
1970     60
1980     70
1990     72
2000     84
2010    104
dtype: int64

In [33]:
series1, series2

(1960     26
 1970     56
 1980     66
 1990     68
 2000     80
 2010    100
 dtype: int64, 1960    67
 1980    90
 dtype: int64)

In [34]:
series5 = series1 + series2
series5

1960     93.0
1970      NaN
1980    156.0
1990      NaN
2000      NaN
2010      NaN
dtype: float64

In [35]:
series3.cumsum()

0     45.0
1    112.0
2    146.0
3      NaN
4    236.0
dtype: float64

In [36]:
series3.pct_change()

0         NaN
1    0.488889
2   -0.492537
3         NaN
4    1.647059
dtype: float64

In [37]:
series6 = pd.Series(np.random.randint(1,10,100))
series6

0     2
1     1
2     7
3     8
4     5
5     8
6     8
7     1
8     1
9     6
10    3
11    8
12    7
13    3
14    5
15    1
16    8
17    3
18    6
19    5
20    8
21    3
22    5
23    6
24    1
25    3
26    6
27    4
28    1
29    7
     ..
70    2
71    4
72    9
73    6
74    9
75    4
76    5
77    4
78    1
79    8
80    2
81    5
82    3
83    9
84    6
85    4
86    9
87    7
88    8
89    8
90    3
91    5
92    6
93    6
94    5
95    6
96    1
97    9
98    4
99    1
Length: 100, dtype: int32

In [41]:
(series6.value_counts()).sort_index()

1    19
2     6
3     9
4    10
5    12
6    15
7    11
8    10
9     8
dtype: int64

In [42]:
series1.sort_values(ascending=False)

2010    100
2000     80
1990     68
1980     66
1970     56
1960     26
dtype: int64

In [47]:
series7 = series1.apply(lambda x:x**2)

In [49]:
series7

1960      676
1970     3136
1980     4356
1990     4624
2000     6400
2010    10000
dtype: int64

In [52]:
series1.head(n=3)

1960    26
1970    56
1980    66
dtype: int64

In [53]:
series1.tail(n=3)

1990     68
2000     80
2010    100
dtype: int64

In [54]:
series1.nsmallest(4)

1960    26
1970    56
1980    66
1990    68
dtype: int64

In [55]:
series1.nlargest(6)

2010    100
2000     80
1990     68
1980     66
1970     56
1960     26
dtype: int64

In [58]:
series1//20 #just quotient

1960    1
1970    2
1980    3
1990    3
2000    4
2010    5
dtype: int64

In [59]:
series1/20

1960    1.3
1970    2.8
1980    3.3
1990    3.4
2000    4.0
2010    5.0
dtype: float64