In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
import sys

In [8]:
a = np.array([1,2,3,4])
b = np.array([5,6,7,8])

In [9]:
a[0]

1

In [10]:
a[0: ]

array([1, 2, 3, 4])

In [11]:
a.dtype

dtype('int32')

In [15]:
np.array([1, 2, 3, 4], dtype=np.int8)

array([1, 2, 3, 4], dtype=int8)

In [17]:
A=np.array([[1,2,3],[4,5,6]])

In [18]:
A.shape

(2, 3)

In [20]:
A.ndim

2

In [21]:
A.size

6

In [23]:
a.sum()

10

In [24]:
a.std()

1.118033988749895

In [25]:
# In millions
# pandas series
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.52])

In [26]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.520
dtype: float64

In [27]:
g7_pop.name = 'G7 Population in millions'

In [28]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.52 ])

In [30]:
# index defining for the population values
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [32]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.520
Name: G7 Population in millions, dtype: float64

In [33]:
g7_pop[g7_pop>70]

Germany           80.940
Japan            127.061
United States    318.520
Name: G7 Population in millions, dtype: float64

In [34]:
g7_pop.mean()

107.30214285714285

In [35]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763685
Name: G7 Population in millions, dtype: float64

In [36]:
g7_pop['Canada']=40.5 #changing values

In [37]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.520
Name: G7 Population in millions, dtype: float64

In [38]:
g7_pop.max()

318.52

In [39]:
g7_pop.min()

40.5

In [41]:
g7_pop.sum()

756.1479999999999

In [42]:
g7_pop.any()

True

In [43]:
mask = (g7_pop==2) | (g7_pop==10)
g7_pop[mask]

Series([], Name: G7 Population in millions, dtype: float64)

In [44]:
g7_pop.sort_values()

Canada             40.500
Italy              60.665
France             63.951
United Kingdom     64.511
Germany            80.940
Japan             127.061
United States     318.520
Name: G7 Population in millions, dtype: float64

In [45]:
#pandas dataframe
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [46]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [49]:
df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [50]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [53]:
df.size

35

In [54]:
df.value_counts()

Population  GDP       Surface Area  HDI    Continent
35.467      1785387   9984670       0.913  America      1
60.665      2167744   301336        0.873  Europe       1
63.951      2833687   640679        0.888  Europe       1
64.511      2950039   242495        0.907  Europe       1
80.940      3874437   357114        0.916  Europe       1
127.061     4602367   377930        0.891  Asia         1
318.523     17348075  9525067       0.915  America      1
Name: count, dtype: int64

In [55]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [56]:
df.head()

         Population      GDP  Surface Area    HDI Continent
Canada       35.467  1785387       9984670  0.913   America
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe
Japan       127.061  4602367        377930  0.891      Asia

In [57]:
df['GDP per Capita']=df['GDP']/df['Population']

In [58]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP per Capita
Canada,35.467,1785387,9984670,0.913,America,50339.385908
France,63.951,2833687,640679,0.888,Europe,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,45729.239975
United States,318.523,17348075,9525067,0.915,America,54464.120330

In [66]:
df.loc['China'] = pd.Series({'Population': 1_400_000_000, 'Continent': 'Asia'})

In [67]:
pd.DataFrame(data=[None],
             index=[None],
             columns=[None])

      None
None  None

In [68]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [71]:
marvel_df = pd.DataFrame(data=marvel_data)

marvel_df

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968